Copyright (c) 2023-${edit_year} Blue Brain Project, EPFL.

This file is part of dir-content-diff.
See https://github.com/BlueBrain/dir-content-diff for further info.

SPDX-License-Identifier: Apache-2.0
